.carousel-container {
  position: relative;
  overflow: hidden;
  border: 1px solid #555;
  border-radius: 26px;
  padding: 16px;
  --outer-r: 26px;
  --p-distance: 12px;
}
.carousel-track {
  display: flex;
}
.carousel-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #555;
  border-radius: calc(var(--outer-r) - var(--p-distance));
  background-color: #0d0716;
  overflow: hidden;
  cursor: grab;
}
.carousel-item:active {
  cursor: grabbing;
}
.carousel-container.round {
  border: 1px solid #555;
}
.carousel-item.round {
  background-color: #f5e6d3;
  position: relative;
  bottom: 0.1em;
  border: 1px solid #555;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.carousel-item-header.round {
  padding: 0;
  margin: 0;
}
.carousel-indicators-container.round {
  position: absolute;
  z-index: 2;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}
.carousel-indicator.active {
  background-color: rgb(62 39 35);
}
.carousel-indicator.inactive {
  background-color: rgb(62 39 35);
}
.carousel-item-header {
  margin-bottom: 16px;
  padding: 20px;
  padding-top: 20px;
}
.carousel-icon-container {
  display: flex;
  height: 50%;
  width: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
}
.carousel-item-content {
  padding: 20px;
  padding-bottom: 20px;
}
.carousel-item-title {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 20px;
  color: #3e2723;
}
.carousel-item-description {
  font-size: 15px;
  color: rgb(93 64 55);
}
.carousel-indicators-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.carousel-indicators {
  margin-top: 16px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0 32px;
}
.carousel-indicator {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
}
.carousel-indicator.active {
  background-color: #fff;
}
.carousel-indicator.inactive {
  background-color: #555;
}
